{% if liquidprompt_custom_variables|length > 0 %}
# Liquidprompt configuration variables
{% for v in liquidprompt_custom_variables %}
{{ v }}
{% endfor %}
{% endif %}

# Source liquidprompt
[[ $- = *i* ]] && source {{ liquidprompt_dest }}/liquidprompt

